.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 15px;
  padding-bottom: 25px;
  padding-top: 25px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffffff;
}

.homebtn {
  background-color: #8dc2fa; /* Spezifische Farbe für Home-Button */
}

.aboutbtn {
  background-color: #77ac83; /* Spezifische Farbe für Über Uns-Button */
}

.servicesbtn {
  background-color: #f5d881; /* Spezifische Farbe für Services-Button */
}

.contactbtn {
  background-color: #d17a83; /* Spezifische Farbe für Kontakt-Button */
}
