footer a {
  color: #d7d0cc;
  text-decoration: none;
}

a {
  margin: 0;
  padding: 10px;
  color: #ffffff; /* Weiß */
  text-align: center;
  text-decoration: none; /* Entfernt die Unterstreichung */
}

a:hover {
  color: #00ff00; /* Grün beim Hover */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;

}



p{
  color: rgb(248, 248, 248);
  
}
